body,
html,
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-title{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.card{
    height: 100px;
    width: 100px;
    border: #468cde;
    background-color: #468cde;
}

