html,
body,
*
{
font-size: 20px;
box-sizing: border-box;
margin: 0;
padding: 0;
}


body{
font-family: 'Roboto Condensed', sans-serif;
background-color: aqua;
text-align: center;
}
.card {
width: 14vw;
display: flex;
height: 20vw;
align-items: center;
background-color: #468cde;
padding: 2rem;
display: flex;
margin: auto;
box-sizing: content-box;
justify-content: space-between;
align-items: center;
flex-direction: column;
box-shadow: 20px 10px 10px red;
}


.h1 {
font-size: 2rem;
align-items: center;
padding: 10px;
margin: auto;
}


.parent{
flex-direction: row;
flex-wrap: wrap;
flex: auto;
width: 100%;
display: flex;
}


.h3{
font-size: 2rem;
display: flex;
}
