body,
html,
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.card{
    width: 25vw;
    display: flex;
    height: 40vw;
    align-items: center;
    background-color: #468cde;
    padding: 2%;
    display: flex;
    margin: 1.5rem;
}

.parent {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.img {}